
@font-face { 
    font-family: 'GT Super Display Light';
    font-style: normal;
    font-weight: normal;
    src: local('GT Super Display Light'), url('../font/GT-Super-Display-Light.woff2') format('woff2');
}


@font-face { 
    font-family: 'GT Super Text Bold';
    font-style: normal;
    font-weight: normal;
    src: local('GT Super Text Bold'), url('../font/GT-Super-Text-Bold.woff2') format('woff2');
}

@font-face { 
    font-family: 'GT America Standard Light';
    font-style: normal;
    font-weight: normal;
    src: local('GT Super Text Bold'), url('../font/GT-America-Standard-Light-Trial.woff2') format('woff2');
}

@font-face { 
    font-family: 'GT Super Text Regular';
    font-style: normal;
    font-weight: normal;
    src: local('GT Super Text Bold'), url('../font/GT-Super-Text-Regular.woff2') format('woff2');
}