
body{
    background-color: black;
}
header{
    display: grid;
	
} 


.paddingbottom 
{ 

padding-bottom: 2vh;
}
.grid-container {
    display: grid;
    grid-template-rows: 35vw 45vw 40vw repeat(2, 40vw);        
}


.grid-2{
    background-color: rgb(255, 255, 255);
    justify-items: center;
}
.grid-3{
    background-color: #012a42;
    justify-items: center;
    grid-template-rows: 1fr 5fr;
}
.grid-4{
    background-color: #ffffff;
    grid-template-rows: 2fr 10fr 1fr;
    justify-items: center;
}
.grid-5{
    background-color: #003c5b;
    grid-template-areas: "titre titre" "reussite desc";
}
.grid-6{
    background-color: #ffffff;
    align-items: center;
  justify-items: center;
}
.carousel{
  position:relative;
}


.carouselcontaineur{
  position: relative;
  width: 65%;
}

.carousel,
.carousel .img-container,
.carousel .img-container,
.carousel .img-desc-container
{
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
}

.carousel .img-container
{
 display: flex;
 justify-content: center;
}

.carousel .img-container img
{
  position: absolute;
  height: 100%;
  width:0;
}

.carousel .img-container img.active
{
  position: absolute;
  object-fit: cover;
  height: 100%;
  width:100%;
  animation: var(--timeToChange) in-out forwards;

}

#desc-img{
  font-family: 'GT America Standard Light';
  font-size: 0.8vw;
}
/* Control pour l'image */

.control{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 65%;
    background-color: rgb(238, 237, 231);
    
}

.arrow{
  grid-column: 2/ 4;
  justify-self: end;
  align-self: center;
  cursor:pointer;
  color:black;
  font-size: 2vw;
  margin-right: 1vw;  
    
}
.arrow-right{
  right:0;
}

.carousel .img-desc-container
{
    position: relative;
    margin: 2vw;
}

.carousel .img-desc-container p.active
{
  opacity: 1;
  animation: var(--timeToChange) in-out forwards;
}

.carousel .img-desc-container p
{
  position: absolute;
  opacity: 0;
}

.nous-container{
    display: grid;
    justify-items: center;
    align-items: center;
    width: 45%;
}

.title-reussite{
    font-size: 4vw;
    color: white;
    font-family: 'GT Super Text Regular';
}

p.nous
{
    font-size: 1vw;
    color: rgb(231, 231, 231);
    text-align: center;
}

p.nous-titre{
    color: #3fd5e0;
    font-size: 0.7vw;
    font-family: 'GT Super Text Regular';

}


.nous{
    color: white; 
}

p.nous{
    font-family: 'GT America Standard Light'
  
}
h2.nous
{
    font-size: 2.5vw;
    font-family: 'GT Super Text Regular';
}

a{
    font-family: 'GT Super Text Regular'; 
    text-decoration: none;
}

a.nous
{
    font-size: 0.7vw;
    color: rgb(182, 182, 182);
}


a.nous:hover {
    text-decoration: none;
    color:  #3fd5e0;
  
}


.wrapper-media{
    width: 50vw;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    height: auto;
}

.box-media{
    display: flex;
    justify-content: center;
	  background-color: #006080;
    width: 15vw;
    height: 96%;
    opacity: 0.9;
}


.box-media:hover{
    background-color: #00455c; 
    opacity:1;
}

div.futur{
    width: 50%;
    margin-left: 3vw;
    display: flex;
    flex-direction: column;
}

.futur-titre{
  font-size: 2vw;
  padding: 2vw 1vw;
}

.futur-desc{
  padding: 2vw 1vw;
  margin-top: -15px;
  
}
.desc-futur1{
  font-family: 'GT America Standard Light';
  text-align: center;
  min-height: 36%;
  padding: 0.5vw 1vw;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: .1em;
  bottom: 0;
  width: 100%;
  color: #fff;
  

}

img.img-futur{
    width: 100%;
    object-fit: cover;
}

figure{
    display: flex;
    flex-flow: column;
    margin: auto;
}

p.futur-desc{
    font-family: 'GT Super Text Regular';
    color: rgb(77, 75, 75);
    font-size: 0.8vw;
}
.reussite{
    display: flex;
    grid-area: reussite;
    margin-right: 5vw;
    width: 20vw;
    height: 20vw;
    background-color: #f7f5ee;
    justify-self: end;
    align-items: center;
    justify-content:center;
    
}

div#value {
  font: 500 5vw 'GT Super Text Regular';
  color: #060606;
}


.wrapper-desc{
    justify-self: start;
    display: grid;
    grid-area: desc;
    align-self: start;
    gap: 2vw
    
}

a.desc-reussite{
    text-decoration: none;
    font-size: 4vw;
    color:white;
    justify-self: end;
    margin-right: 5vw;
}


a.desc-reussite:hover {
    text-decoration: none;
    color:  #3fd5e0;  
}

.reussite-titre{
  grid-area: titre;
  display: grid;
  justify-content: center;
  align-content: center; 

}

.reussite-titre>p{
  font-size: 4vw;
  font-family: 'GT Super Text Bold';
  color: white;
}
*, *:before, *:after {
  box-sizing: border-box;
  margin: 0px;
} 


/*--------header-------------*/

.header {
  background-color: #003c5b;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vw;
}

.header .top {
	
 margin-top: 0; 
 padding-top: 0;
}

/*-----sous partie menu----------*/
.page-menu,
menu.media-menu,
menu.etablissement-menu,
menu.plus-menu{
  opacity: 0;
  width:0;
  height: 0;
}

.change .page-menu menu.media-menu,
.change .page-menu menu.etablissement-menu,
.change .page-menu menu.plus-menu{
  opacity: 1 ;
  display: flex;
  flex-direction: row;
  width: 33vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

h2.menu-title{
  padding-right: 5vw;
}

.menu-text{
  color:white;
  font-family:'GT Super Text Regular';
  font-size: 11px;
}
.change .page-menu{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  opacity: 1;
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: #f7f5ee;
  z-index: 99 !important; /*le faire apparaitre en-dessus de toutes les choses*/
  top: 0px;
  left: 0px;
}

.change ul {
  list-style: none;
  padding-left: 0;
}

.change li {
  line-height: 2em;
}

h2.menu-title{
  font-weight: 400;
  font-size: 20px;
  color: #003c5b;
  font-family: 'GT Super Text Regular';
}

.bar-menu {
  display: inline-block;
  cursor: pointer;
  margin:2vw;
}

.bar1, .bar2, .bar3 {
  width: 34px;
  height: 3px;
  background-color: rgb(255, 255, 255);
  margin: 6px 0;
  transition: 0.4s;
}


.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-6px, -5px);
}

 .button { 
  max-width: 3%; 
  max-height: 2%;
  float: left;
  color: black;
  text-align: center;
  padding:1%;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.header .button {
	font-size: 100%;  
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	right: 1vw;
}


.button:hover{
  background-color: #ddd;
  color: black;
}

.button.active{
  background-color: white;
  color: black;
  
}
.logo {  
	text-align: center; 
	height:10vw; 
  width: 31vw;
		

} 
.logo_iut{  
  width: 23vw;
  height: auto;
  padding: 1vw;
}


.header.bar_cool {
	z-index: 9;
}

  .header a {
    float: none;
    text-align: left;
  }
  
  .header-right {
    float: none;
  }

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
}	




/*----------------footer---------------*/
.footer {
  display: flex;
  flex-flow: row wrap;
  padding: 30px 30px 20px 30px;
  color: #2f2f2f;
  background-color: #f7f5ee;
  border-top: 1px solid #e5e5e5;
}

.footer > * {
  flex:  1 100%;
}

.footer__addr {
  margin-right: 1.25em;
  margin-bottom: 2em;
}

.footer__logo {
  font-family: 'Pacifico', cursive;
  font-weight: 400;
  text-transform: lowercase;
  font-size: 1.5rem;
}

.footer__addr h2 {
  margin-top: 1.3em;
  font-weight: 400;
}

.nav__title {
  font-weight: 400;
  font-size: 20px;
  color: #003c5b;
  font-family: 'GT Super Text Regular';
}

.nav__desc{
  font-family: 'GT America Standard Light';
  font-size: 15px;
  color: #999;
}

.nav__desc:hover{
  color: #003c5b;
}
.footer address {
  font-style: normal;
  color: #999;
}

.footer__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  max-width: max-content;
  background-color: rgb(33, 33, 33, 0.07);
  border-radius: 100px;
  color: #2f2f2f;
  line-height: 0;
  margin: 1em 0;
  font-size: 1rem;
  padding: 0 1.3em;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer li {
  line-height: 2em;
}

.footer a {
  text-decoration: none;
}

.footer__nav {
  display: flex;
	flex-flow: row wrap;
}

.footer__nav > * {
  flex: 1 50%;
  margin-right: 1.25em;
}



.nav__ul a {
  color: #999;
}

.nav__ul--extra {
  column-gap: 1.25em;
}

.legal {
  display: flex;
  flex-wrap: wrap;
  color: #999;
}
  
.legal__links {
  display: flex;
  align-items: center;
}

.heart {
  color: #2f2f2f;
}

@media screen and (min-width: 24.375em) {
  .legal .legal__links {
    margin-left: auto;
  }
}

@media screen and (min-width: 40.375em) {
  .footer__nav > * {
    flex: 1;
  }
  
  .nav__item--extra {
    flex-grow: 2;
  }
  
  .footer__addr {
    flex: 1 0px;
  }
  
  .footer__nav {
    flex: 2 0px;
  }
} 

.reseau{ 
	max-height: 7%; 
	max-width: 7%;
  vertical-align: middle;
}

.box-grant{
  margin-top: 0.5vw;
  width: 50%;
  height: 100%;
  background-color: #f7f5ee;
}

.blank{
  width: 1vw;
  background-color:white;
}
.box-wrapper{
  background-color: #003c5b;
  display: flex;
  width: 50%;
  height: 60%;
}

.list-fondateur{
  color: #323233;
  margin: 0.5vw;
}

.list-fondateur:hover{
  color: rgb(95, 210, 255);
}

.title-fondateur{
  font-family:  'GT Super Text Bold';
  text-align: center;
  margin: 2vw;
  font-size: 1.7vw
}

.fondateur-text-wrapper{
  display: grid;
  justify-content: center;
}


/*responsive*/

@media only screen and (max-width: 1000px) {
  .header{
    height: 20vw;
  }
  
  .logo{
    width: 40vw;
  }
  
  .logo_iut{
    width: 30vw;
  }
  
  .grid-container {
    grid-template-rows: 45vw 60vw 100vw repeat(2, 60vw);        
  }
  
  .nous-container{
    width: 85%;
  }
  
  p.nous-titre{
    font-size: 2vw;
  }
  h2.nous{
    font-size: 4vw;
  }
  
  p.nous{
    font-size: 1.5vw;
  }
  
  a.nous{
    font-size: 1.5vw;
  }
  
  .wrapper-media{
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    padding: 0px;
  }
  
  .box-media{
    width: 25vw;
    margin: 10px;
  }
  
  .futur-titre{
    font-size: 4vw;
  }
  
  p.futur-desc{
    font-size: 1.5vw
  }
  
  .box-wrapper{
    width: 70%
  }
  
  .list-fondateur{
    margin: 1vw
  }
  .box-grant{
    margin-top: 1vw
  }
  
  .title-fondateur{
    font-size: 2vw;
  }
  
  .fondateur-text-wrapper{
    width: 100%
  }
  p#desc-img {
    font-size: 1.1vw
  }
}
