.grid-contact-container{
  display: grid;
  grid-template-rows: 10vw 20vw 30vw;
}

.flex{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact-1{
  background-color: white;
  justify-content: center;
  align-items: center;
}

div.text-container{
  width: 21vw;
  height: auto;
  margin: 5vw 0vw
}

.small-contact{
  font-family: 'GT Super Text Bold';
  font-size: 1vw;
}
.text-contact{
  font-family: 'GT Super Text Regular';
  font-size: 0.7vw
}


.contact-title{
  font-family: 'GT Super Text Bold';
}

.contact-2{
  background-color: #f7f5ee;
  justify-content: center;
  align-items: start;
  grid-template-columns: repeat(3, 25vw);
}

.contact-3{
  background-color: #5c5c5c; 
  justify-content: center;
}

#map {
  height: 90%;
  width: 40vw; 
  margin-top: 5vh; 
  margin-bottom: 5vh;	
}

@media only screen and (max-width: 1000px) {
  .grid-contact-container{
    display: grid;
    grid-template-rows: 20vw 45vw 50vh
  }
  
  
  .small-contact{
    font-size: 2vw;
  }
  
  .text-contact{
    font-size: 1.5vw;
  }
  #map {
  height: 80%;
  width: 70vw; 
  margin-top: 5vh; 
  margin-bottom: 5vh;	
  }
}