.grid-debouchee-container{
    display: grid;
    grid-template-rows: 10vw 25vw 20vw repeat(3, auto);
}

.small-title-debouche{
    font-family: 'GT Super Text Bold';
    text-align: center;
    margin: 2vw 0vw
}

.debouche-quote{
    display: flex;
    justify-content: center;
    text-align: center;
}

.debouche-1{
    background-color: #006080; 
    align-content: center
}

.schema{
    width: 40vw;
    justify-self: center;
    position: absolute;
}

.bold{
    margin: 3vw 0vw;
    font-weight: bold;
}
.debouche-2{
    background-color: white;
}

.debouche-3{
    background-color: #f0f0ee;
}

.debouche-4{
    background-color: #f7f5ee;
}

.debouche-5{
    background-color: #006080;
}

.debouche-6{
    background-color: #dae4ed;
}

.debouche-container{
    width: 50vw;
    justify-self: center;
    margin: 2vw 0vw;ZS
}
@media only screen and (max-width: 1000px) {
    .grid-debouchee-container{
    display: grid;
    grid-template-rows: 10vw 35vw 40vw repeat(3, auto);
    }
    
    .schema{
        width: 60vw
    }
    
    .debouche-quote{
        margin: 3vw;
        justify-self: center;
    }
    
    .quote-formation{
        margin-top: 5vw;
        font-size: 3vw
    }
}