.grid-formation-container{
    display: grid;
    grid-template-rows: 10vw 25vw 20vw repeat(2, auto);
}

.formation1{
    background-color:#006080;
    
}

.formation2{
    background-color: white;
}

.ribbon{
    height: 3vw;
    background-color: #006080;
}

.lecture{
    justify-self: center;
    position: absolute;
    width:45vw;
}

.quote-formation{
    display: flex;
    color: white;
    font-family: 'GT Super Text Bold';
    font-size: 1.7vw;
    align-items: center;
    justify-content: center;   
}

.formation3{
    background-color: #5c5c5c;
    justify-content: center;
    align-items: center;
}


.BUT-titre{
    font-size: 2vw;
    font-family: 'GT Super Text Regular';
    color: white;
    font-weight: bolder;
    font-size: 2vw;
}

.formation4{
    background-color: #f7f5ee;
    justify-content: center;

    
            
}

.flex{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 2vw;
    width: 28vw;
}
h1.annee{
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    justify-content: center;
}
.formation5{
    background-color: #006080;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

@media only screen and (max-width: 1000px) {
    .grid-formation-container{
    display: grid;
    grid-template-rows: 20vw 35vw 20vw repeat(2, auto);
    }
    
    .lecture{
        width: 65vw
    }
    
    .BUT-titre{
        font-size: 3vw;
    }
    
}