.grid-legales-container{
  display: grid;
  grid-template-rows: 15vw 55vw 15vw repeat(3, auto);
}

.embed {
	 width: 100%; 
	 height: 100%; 
}
.legal-1{
  background-color: white;
  justify-content: center;
  align-content: center;
}

.legal-2{
  background-color: #006080;  
  justify-content: center;
  align-content: center;
}

.legal-3{
  background-color: white;
  justify-content: center;
  align-content: center;
}

.legal-titre{
  padding-top: 1vw;
  font-size: 1.7vw;
  font-family: 'GT Super Text Bold';  
  text-align: center;
  margin: 2vw 0vw;
}

.pdf-container{
  width: 50vw;
  height: 45vw;
}

.quote-container{
  margin: 1vw;
  width: 60vw;
  text-align: center;
}

@media only screen and (max-width: 1000px) {
  .grid-legales-container{
    grid-template-rows: 45vw 65vw 35vw repeat(3, auto);
  }
  
  .legal-titre{
    font-size: 3vw;
  }
}