.grid-sante-container{
    display: grid;
    grid-template-rows: 20vw 30vw 30vw  repeat( 3 ,auto);
}


#sante1{
    background-color: #f0f0ee;
    justify-content: center;
}

#sante2{
    background-color: white;
    justify-content: center;
    align-items: center;
}

#sante3{
    background-color: #dae4ed;
    justify-content: center;
    align-items: center;
    grid-template-columns:  repeat(3,1fr);   
} 

h1.title-priorites{
    margin: 2vw 0vw
}

.flex{
    display: flex;    
}


.titre-sante1{
    font-family: 'GT Super Text Bold';
    font-size: 2vw;
    align-items: start;
    justify-content: center;   
}

.sous-titre-sante1{
    font-family: 'GT Super Text Regular';
    font-size: 0.8vw;
    font-weight: bolder;
    color:#003c5b;
    align-items: end;
    justify-content: center;
}

p.priorites{
    font-weight: 400;
    line-height: 1.4;
    color: #5c5c5c;
}

p.accueil{
    justify-content: center;
}

@media only screen and (max-width: 1000px) {
  .grid-sante-container{
    grid-template-rows: 30vw 50vw 100vw;
    }
    .sous-titre-sante1{
        font-size:1.8vw;
        margin: 1vw 0vw
    }
    .titre-sante1{
        font-size: 3vw;
        margin: 1vw 0vw
    }
    
    #sante3
    {
        grid-template-rows: repeat(3,1fr);
        grid-template-columns: 1fr; 
        justify-items: center;
    }
    
    .text-container{
        margin: 1vw 0vw;
        width: 60%;
        text-align: justify;
    }
}



